<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Gymm</title>
    <link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 256h416"/><rect x="384" y="128" width="32" height="256" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="96" y="128" width="32" height="256" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="32" y="192" width="16" height="128" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="464" y="192" width="16" height="128" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>'>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="border-gray-200 shadow-md dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <div class="w-1/2">
                    <a href="/" class="flex items-center">
                        <svg class="w-7 mr-1 text-[#fc612e]" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path fill="#fc612e" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 256h416"/><rect x="384" y="128" width="32" height="256" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="96" y="128" width="32" height="256" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="32" y="192" width="16" height="128" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="464" y="192" width="16" height="128" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                        <span class="self-center text-2xl whitespace-nowrap font-bold text-black">Gymm</span>
                    </a>
                </div>
                <div class="hidden md:block w-auto" id="navbar-default">
                    <ul class="hidden md:flex font-medium items-center text-sm flex-ro p-0 border-gray-100 rounded-lg space-x-4 mt-0 border-0 bg-white dark:bg-gray-900 dark:border-gray-700">
                        <li class="pl-0">
                            <a href="{{ path('app_sheets') }}" class="">Sheets</a>
                        </li>
                        <li>
                            <a href="{{ path('app_exercises') }}" class="">Exercises</a>
                        </li>
                        <li>
                            <a href="{{ path('app_profile') }}" class="">
                                <img src="{{ asset('images/icons/circle-user-solid.svg') }}" class="w-7" alt="user">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="flex md:hidden w-1/2 justify-end" id="navbar-btn">
                    <img class="w-5 hover:cursor-pointer" src="{{ asset('images/icons/bars-solid.svg') }}" alt="user">
                </div>
                <div class="gymm-mobile-menu" id="navbar-mobile">
                    <ul class="flex flex-col absolute top-16 left-0 w-full z-10">
                        <li class="border-b border-gray-300 bg-gray-100 hover:bg-gray-200">
                            <a href="{{ path('app_sheets') }}" class="p-4 block">Sheets</a>
                        </li>
                        <li class="border-b border-gray-300 bg-gray-100 hover:bg-gray-200">
                            <a href="{{ path('app_exercises') }}" class="p-4 block">Exercises</a>
                        </li>
                        <li class="border-b border-gray-300 bg-gray-100 hover:bg-gray-200">
                            <a href="{{ path('app_profile') }}" class="p-4 block">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="py-2 max-w-screen-xl items-center justify-between mx-auto p-4 bg-gray">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="gymm-alert">
                    <div class="flex flex-row items-center">
                        <img class="mr-2 w-4" src="{{ asset('images/icons/success-icon.svg') }}" alt="user">
                        <span>{{ message }}</span>
                    </div>
                    <img class="w-3 hover:cursor-pointer gymm-message-remove" src="{{ asset('images/icons/remove-icon.svg') }}" alt="user">
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>
